<div style=" padding: 30px; padding-bottom: 0; background: #f9f9f9;">
    <app-dual-pie-chart></app-dual-pie-chart>
</div>
<div style=" padding: 30px; padding-bottom: 0; background: #f9f9f9;">
    <app-bar-chart></app-bar-chart>
</div>
<div style=" padding: 30px; padding-bottom: 0; background: #f9f9f9;">
    <app-line-chart></app-line-chart>
</div>
<div style=" padding: 30px; padding-bottom: 0; background: #f9f9f9;">
  <app-record-gallery></app-record-gallery>
</div>
<div style="padding: 40px;padding-bottom: 0; background: #f9f9f9;">
    <app-donut-chart chartType="donut1"></app-donut-chart>
</div>
<div style="padding: 40px; background: #f9f9f9;">
    <app-accordion-table></app-accordion-table>
</div>